@model NomasAccidentes2._0.Negocio.Registroactiv

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Asignar profesional</h2>
@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <form method="post" asp-action="Create">
        <div class="row px-2 mx-2 border">
            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4 mt-4">
                        @Html.HiddenFor(u => u.id_solicitud)
                        @Html.LabelFor(u => u.rut_profesional,"Profesional", new { @class = "form-control" })
                    </div>
                    <div class="col-8 mt-4">
                        @Html.DropDownListFor(u => u.rut_profesional, new SelectList(ViewBag.profe, "rut_profesional", "nombre_profesional"), new { @class = "form-control" })

                    </div>
                </div>
            </div>
            <div class="form-group mt-4" row>
                <div class="col-8 offset-4">
                    <div class="row ">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Asignar</button>
                            &nbsp;
                            @Html.ActionLink("Volver", "Index", new { @class = "btn btn-primary text-right fas fa-plus" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

}
