@model NomasAccidentes2._0.Negocio.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingresa tus credenciales</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <form method="post" asp-action="iniciar">
        <div class="row px-2 mx-2 border">
            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4 mt-4">
                        @Html.LabelFor(u => u.Nombre, new { @class = "form-control" })
                    </div>
                    <div class="col-8 mt-4">
                        @Html.TextBoxFor(u => u.Nombre, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 mt-4">
                        @Html.LabelFor(u => u.Contrasena, new { @class = "form-control" })
                    </div>
                    <div class="col-8 mt-4">
                        @Html.TextBoxFor(u => u.Contrasena, new { @class = "form-control", @type = "password" })
                    </div>
                </div>
                <br />
                <div class="form-group mt-4 mb-4" row>
                    <button type="submit" class="btn btn-primary form-control">Iniciar Sesion</button>
                    @Html.ActionLink("Volver", "Index","Home", new { @type = "button" }, new { @class = "btn btn-primary " })
                </div>
            </div>
        </div>
    </form>

}
@TempData["mensaje"]

